* {
    padding: 10px;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(78, 219, 141);
    color: gold;
}

header h1 {
    display: inline-block;
    color: black;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

img {
    border: 5px solid #bc9090
}

.portfolio {
    justify-content: space-around;
    box-sizing: border-box;
    transform: scale(blue,yellow);
    color: yellow;
    padding: 10px 30px 10px 30px;
    
}

nav {
    border: 5px solid rgb(3, 29, 37);
    background-color: chocolate;
    color: cyan;
}

.seperate_index_work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
}


.portfolio_image {
    background: #ffffff url("../images/GRANDCANYONSOKAIBAB.JPG") no-repeat right top;
    height: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.personal_image {
    position:absolute;
    top: 100px;
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 30px;

}
/* This is for the Blurb about Who I am and what I have accomplished */
.my_blurb {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#f69d3c, #3f87a6);
}

.my_blurb_class {
    display:flex;
    justify-content: center;
}

.aboutme {
    width: 100%;
    text-align: center;
}

.maw_image {
    border: 5px solid black;
}

.blurb{
    font-family: 'Gill Sans', 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(33, 39, 67);

}

/* Get a list of projects and put them all together in one containter so they  we can use flex and @media on them */
.main_project {
    background-color: cadetblue;
    border: 30;
    border-style: solid;
}

.other_projects {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 10px;
    background-color: darkgreen;
    align-content: space-evenly;
    border-style: solid;
}

footer .social_media {
    display: flex;
    justify-content: center;
}

#contact_me {
    padding: 0px;
    display: flex;
    border: 3px solid black;
    border-radius: 15px;
    background: #bc9090;
    max-width: 20%;
    flex-direction: column;
}

.main-page{
    width: 50%;
}

@media screen and (min-width: 982px) {
    body {
      background-color: white;
    }
  }
  @media screen and (min-width: 768px) {
    body {
      background-color: white;

    }
  }